body {
    background: url('/static/image/picture.jpg') no-repeat;
    background-size:cover;
    max-width: auto;
    height: 100%;
    margin: 4%;
    font-family: "Helvetica";
    font-size: 21px;
}
li, ul, a {
    text-decoration: initial;
    color: #0c3c05;
    margin: 3px;
}
a:hover{
    text-decoration: underline;
}
div {
    text-align: center;
    font-width: bold;
    font-size: 30px;
    color: #200061;
    margin: 0 auto;
    margin-top: 80px;
    font-family: "Helvetica";
    white-space: pre;
}
h1{
    font-width: bold;
    font-size: 23px;
    text-align: center;
    color: #0c3c05;
    margin: 0;
}